.profile-event-item {
  display: flex;
  padding: 12px;
  box-sizing: border-box;
  width: 50vw;
  border: 1px solid white;
  margin-bottom: 10px;
}

.profile-event-item:hover {
  border: 1px solid #ddd;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.profile-event-item img {
  min-width: 220px;
  width: 36vw;
  max-width: 360px;
  min-height: 110px;
  height: 18vw;
  height: 180px;
  object-fit: cover;
  border-radius: 5px;
}

.event-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 16px;
}

.event-date h3 {
  font-size: 18px;
}

.event-date h4 {
  font-size: 14px;
  color: #d1410c;
  padding-bottom: 5px;
}

.profile-event-right {
  min-height: 110px;
  height: 18vw;
  height: 180px;
}

.profile-event-text {
  display: flex;
  flex-direction: column;
  padding-left: 12px;
}

.profile-event-text h3 {
  font-size: 24px;
  font-weight: 700;
  color: #2c2929;
  padding-bottom: 10px;
}

.profile-event-text h4 {
  font-size: 14px;
  font-weight: 500;
  color: #6f7287;
  padding-bottom: 10px;
}

.edit-delete {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

#delete {
  background: black;
  color: white;
  border-color: black;
}
